{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
    <h3>Přihlášení</h3>

    <div class="row">
    <div class="col-xs-12 col-sm-4">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {{ form_start(form) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        {{ form_end(form) }}
    </div>
    </div>
{% endblock %}