{% extends 'base.html.twig' %}
{% block content %}
    <h3>Upozornění</h3>
    <div class="allnotifications col-xs-12 col-sm-8">
    {% for n in app.user.notifications |reverse %}

            <div class="media" id="not_{{ n.id }}">

                <div class="media-body">
                    <span class="glyphicon glyphicon-remove remove-notification" onclick="removeNotification({{ n.id }},'page')" style="float: right;"></span>
                    {% if n.type=="FRIEND_R" %}
                        <p><b>{{ n.sourceUserName }}</b> vás požádal o přátelství <a href="#" onclick="acceptFriend({{ n.id }},'page')" >Přijmout</a> <a href="#" onclick="dennyFriend({{ n.id }},'page')">Odmítnout</a></p>
                    {% elseif n.type=="FRIEND_A" %}
                        <p><b>{{ n.sourceUserName }}</b> přijmul vaši žádost o přátelství</p>
                    {% elseif n.type=="FRIEND_D" %}
                        <p><b>{{ n.sourceUserName }}</b> odmítnul vaši žádost o přátelství </p>
                    {% elseif n.type=="WISHLIST_R" %}
                        <p><b>{{ n.sourceUserName }}</b> vás pozval do nového nákupního seznamu <b>{{ n.wishlist.name }}</b> <a href="#" onclick="acceptWishlist({{ n.id }},'page')">Přijmout</a> <a href="#" onclick="dennyWishlist({{ n.id }},'page')">Odmítnout</a></p>
                    {% elseif n.type=="WISHLIST_A" %}
                        <p><b>{{ n.sourceUserName }}</b> přijmul vaše pozvání do nákupního seznamu <b>{{ n.wishlist.name }}</b></p>
                    {% elseif n.type=="WISHLIST_D" %}
                        <p><b>{{ n.sourceUserName }}</b> odmítnul vaše pozvání do nákupního seznamu <b>{{ n.wishlist.name }}</b></p>
                    {% elseif n.type=="IWISHLIST_D" %}
                        <p><b>{{ n.sourceUserName}}</b> vás odstranil z nákupního seznamu <b>{{ n.wishlistName }}</b></p>
                    {% elseif n.type=="IWISHLIST_UD" %}
                        <p><b>{{ n.sourceUserName }}</b> opustil váš nákupní seznam <b>{{ n.wishlist.name }}</b></p>
                    {% elseif n.type=="UFRIEND_R" %}
                        <p><b>{{ n.sourceUserName }}</b> si vás odstranil z přátel</p>
                    {% endif %}
                    <div class="notification-meta">
                        <small class="timestamp">{{ n.created|date("d. m. Y, H:i") }}</small>
                    </div>
                </div>
            </div>
    {% endfor %}
        {% if app.user.notifications is empty %}
            <p>Nemáte žádná nová upozornění</p>
        {% endif %}
    </div>

{% endblock %}