<div class="notifications">
    {% for n in app.user.notifications | reverse %}

        <li class="notification" id="not_{{ n.id }}">
            <div class="media">

                <div class="media-body">
                    <span class="glyphicon glyphicon-remove remove-notification" onclick="removeNotification({{ n.id }},'dropdown')" style="float: right;"></span>
                    {% if n.type=="FRIEND_R" %}
                        <p class="notification-title"><b>{{n.sourceUserName  }}</b> vás požádal o přátelství <a href="#" onclick="acceptFriend({{ n.id }},'dropdown')" >Přijmout</a> <a href="#" onclick="dennyFriend({{ n.id }},'dropdown')">Odmítnout</a></p>
                    {% elseif n.type=="FRIEND_A" %}
                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> přijmul vaši žádost o přátelství</p>
                    {% elseif n.type=="FRIEND_D" %}
                        <p class="notification-title"><b>{{ n.sourceUserName }}</b> odmítnul vaši žádost o přátelství </p>
                    {% elseif n.type=="WISHLIST_R" %}
                        <p class="notification-title"><b>{{n.sourceUserName  }}</b> vás pozval do nového nákupního seznamu <b>{{ n.wishlist.name }}</b> <a href="#" onclick="acceptWishlist({{ n.id }},'dropdown')">Přijmout</a> <a href="#" onclick="dennyWishlist({{ n.id }},'dropdown')">Odmítnout</a></p>
                    {% elseif n.type=="WISHLIST_A" %}
                        <p class="notification-title"><b>{{ n.sourceUserName }}</b> přijmul vaše pozvání do nákupního seznamu <b>{{ n.wishlist.name }}</b></p>
                    {% elseif n.type=="WISHLIST_D" %}
                        <p class="notification-title"><b>{{n.sourceUserName  }}</b> odmítnul vaše pozvání do nákupního seznamu <b>{{ n.wishlist.name }}</b></p>
                    {% elseif n.type=="IWISHLIST_D" %}
                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> vás odstranil z nákupního seznamu <b>{{ n.wishlistName }}</b></p>
                    {% elseif n.type=="IWISHLIST_UD" %}
                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> opustil váš nákupní seznam <b>{{ n.wishlist.name }}</b></p>
                    {% elseif n.type=="UFRIEND_R" %}
                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> si vás odstranil z přátel</p>
                    {% endif %}
                    <div class="notification-meta">
                        <small class="timestamp">{{ n.created|date("d. m. Y, H:i") }}</small>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}

</div>

<span class="badge progress-bar-info notification-count">{{ app.user.notifications|length }}</span>

<h3 class="dropdown-toolbar-title notifications-title">Upozornění ({{ app.user.notifications|length }})</h3>
