.navbar-default{
    margin: 0;
    z-index: 1000;

}
.wrapper {
    display: flex;

    padding: 0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #e7e7e7;
    left: 0;
    /* top layer */



    z-index: 999;
    padding: 0;

    overflow: hidden;
}
#sidebarContent {
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}
@media only screen and (max-width : 768px) {
    #sidebar{
        position: fixed;
    }

}
#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

#sidebar div.sidebar-header h4 {
    padding-left: 20px;
    color: #272728;
}

#sidebar ul.components {
    padding: 20px 0px;
    width: 100%;

}

#sidebar ul li a {
    padding: 10px;
    padding-left: 25px;
    font-size: 1.1em;
    display: block;
    color:#24323E;
}

#sidebar ul li a:hover {
    background: #f8f8f8;
}

#sidebar ul li.active > a {
    color: #0E1113;
    background: #D8D8D8;
}

.nav>li {
    display: inline-block;
}
.navbar-header {
    float: left;
}

.navbar-right {
    float: right;
}
.required:after {
    color: red;
    content: " *";
}

.checked + td label{
    text-decoration: line-through;
}

.checkbox > input[type=checkbox]{ margin-left:0; }
.glyphicon-remove  {
    color: #a26a6ac2;
}
.glyphicon-remove:hover {
    color:#974848c2;
    cursor:pointer;

}
.remove-entry,.remove-notification  {
    color:gray;
}
.remove-entry:hover,.remove-notification:hover {
    color:dimgray;
    cursor:pointer;

}

.btn {
    margin-bottom: 2%;
}
.alert-success {
    color: #356a35;
    background-color: #bcf0a7;
    border-color: #c1f893;
}

#sidebar-bottom {
    margin: 10%;
    margin-top: 25%;
    padding-bottom: 10px;
}
#sidebarCollapse {
    font-size:2em;float: left !important;
    color: #4d5f86;
}
.navbar-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageContent{
    padding-top: 50px;

}