    <tr class="checkbx" id="{{ entry.id }}">
        <td id="{{ entry.id }}"{% if entry.checked %}
            class="checked"
                {% endif %}>
            <input class="move-checkbox" type="checkbox" name="packersOff" id={{ entry.id}} {% if entry.checked %}
            checked
                    {% endif %}/></td>
        <td> <label class="strikethrough">{{ entry.item.name }}</label></td>

        <td align="center">{% if entry.amount %}  {{ entry.amount }} {% endif %}</td>
        <td align="center">{% if entry.price %}  {{ entry.price }} {% endif %}</td>
        <td align="center">{% if entry.image %} <a href="{{ asset('uploads/images/' ~ entry.image) }}" target="_blank"><span class="glyphicon glyphicon-picture"></span></a>{% endif %} {% if entry.link %}<a href="{{ entry.link }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a> {% endif %}</td>

        <td ><span class="glyphicon glyphicon-remove remove-entry" id={{ entry.id}}></span> </td>
        <td>{% if entry.item.deletable %}<span class="hidden-xs handle glyphicon glyphicon-resize-vertical"></span> {% endif %}</span></td>

    </tr>
