<div class="table">
    <table id="sort" class="table table-condensed">
        <thead>

        <tr>
            <th></th>
            <th>název</th>
            <th>množství</th>
            <th>cena</th>
            <th>obrázek/odkaz</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>


        {% set sum = 0 %}

        {% for entry in entries|esort %}
            {% set sum = sum+entry.price %}

            <tr class="checkbx" id="{{ entry.id }}">
                <td id="{{ entry.id }}"{% if entry.checked %}
                    class="checked"
                        {% endif %}>
                    <input class="move-checkbox" type="checkbox" name="packersOff"
                           id={{ entry.id }} {% if entry.checked %}
                           checked
                            {% endif %} /></td>
                <td><label class="strikethrough">{{ entry.item.name }}</label></td>


                <td align="center">{% if entry.amount %}  {{ entry.amount }} {% endif %}</td>
                <td align="center">{% if entry.price %}  {{ entry.price }} {% endif %}</td>
                <td align="center">{% if entry.image %} <a href="{{ asset('uploads/images/' ~ entry.image) }}"
                                                           target="_blank"><span
                                class="glyphicon glyphicon-picture"></span></a>{% endif %} {% if entry.link %}<a
                        href="{{ entry.link }}" target="_blank"><span class="glyphicon glyphicon-link"></span>
                        </a> {% endif %}</td>
                <td align="center"><span class="glyphicon glyphicon-remove remove-entry" id={{ entry.id}}></span></td>
                <td><span class="hidden-xs handle glyphicon glyphicon-resize-vertical"></span></td>
            </tr>

        {% endfor %}
        <tr>

            <td colspan="6" align="right"><b>Celková cena: </b>{{ sum }}</td>
        </tr>
        </tbody>

    </table>
</div>
<p class="hidden-xs" style="color:gray; font-size:110%">pomocí <span
            class=" handle glyphicon glyphicon-resize-vertical"></span> můžete měnit pořadí položek v seznamu</p>
