{% extends 'base.html.twig' %}
{% block content %}
    <h3>Sdílené se mnou</h3>
    <div >

        <div class="col-xs-12 col-sm-4">
            <ul class="list-group">
                {% for wishlist in app.user.invitedWishlists  %}
                    <li class="list-group-item"><a href="{{ path('wishlist',{'id':wishlist.id})  }}">{{ wishlist.name }}</a><a href="{{ path('wishlist_delete_invited',{'id':wishlist.id}) }}"><span class="glyphicon glyphicon-remove remove-notification" style="float: right;"></span></a></li>
                {% endfor %}
                {% if app.user.invitedWishlists is empty %}
                    <p>V tuto chvíli s vámi nikdo nesdílí seznam.</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}