{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}

    <div class="row">
        <ul class="breadcrumb">
            {% if wishlist.owner==app.user %}
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Mé seznamy <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for wishlist in app.user.wishlists  %}
                        <li><a href="{{ path('wishlist',{'id':wishlist.id}) }}">{{ wishlist.name }}</a></li>
                    {% endfor %}
                </ul>

            </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sdílené se mnou <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for wishlist in app.user.invitedwishlists  %}
                            <li><a href="{{ path('wishlist',{'id':wishlist.id}) }}">{{ wishlist.name }}</a></li>
                        {% endfor %}
                    </ul>

                </li>
            {% endif %}

            <li class="active">{{ wishlist.name }}</li>
        </ul>


        <div class="col-xs-12 col-sm-7 col-sm-push-5">
            <div id="entries">
                {% if wishlist.sorted %}
                {{ include('Wishlist/sortedentries.html.twig') }}
                {% else %}
                {{ include('Wishlist/entries.html.twig') }}
                {% endif %}
        </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-pull-7" >
            {% form_theme form 'bootstrap_3_layout.html.twig' %}


            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.amount) }}
            {{ form_row(form.price) }}
            <a  data-toggle="collapse" href="#additionalFields" role="button" aria-expanded="false" aria-controls="additionalFields">
                + doplnit obrázek nebo odkaz
            </a>
            <div class="collapse" id="additionalFields">

                {{ form_row(form.link) }}
                {{ form_row(form.image) }}
            </div>
           {{ form_row(form.Přidat,{'attr': {'class': 'btn  btn-primary'}}) }}


            {{ form_end(form) }}

        </div>


    </div>

{% endblock %}
{% block modals %}

<div class="modal fade" id="formOtherWLModal" role="dialog" data-backdrop="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Přidat z jiného seznamu</h4>
                </div>
                <div class="modal-body">
                    {% set foo ="transferEntries(#{ wishlist.id})" %}
                    {% form_theme form2 'bootstrap_3_layout.html.twig' %}

                    {{ form_start(form2) }}
                    {{ form_row(form2.wishlists,{'attr':{'onchange':"#{ foo }"}}) }}
                    {{ form_row(form2.entries) }}
                    {{ form_row(form2.Přidat) }}
                    {{ form_row(form2._token) }}
                    {{ form_rest(form2) }}
                    {{ form_end(form2) }}

                </div>

            </div>

        </div>
    </div>
    <div class="modal fade" id="formInviteModal" role="dialog" data-backdrop="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pozvat přátele do seznamu</h4>
                </div>
                <div class="modal-body">

                    {% form_theme form3 'bootstrap_3_layout.html.twig' %}

                    {{ form_start(form3) }}
                    {{ form_end(form3) }}

                </div>

            </div>

        </div>
    </div>
{% endblock %}
  {% block customjs %}
      <script language="JavaScript" type="text/javascript" src="{{ asset('js/newentry.js') }}"></script>

  {% endblock %}
{% block sidebarContent %}
    <a href="#" class="btn btn-info btn-block" role="button" data-toggle="modal" data-target="#formOtherWLModal" style="background-color: #39ACCD;"><span class="glyphicon glyphicon-plus"></span> Přidat z jiného seznamu</a>

    <a href="#" class="btn btn-info btn-block" role="button" data-toggle="modal" data-target="#formInviteModal"><span class="glyphicon glyphicon-plus"></span> Pozvat přátele </a>

    {% if wishlist.sorted %}
        <a href="{{ path('wishlist_sort',{'id':wishlist.id}) }}" class="btn btn-info btn-block" role="button" style="background-color: #39ACCD;"><span class="glyphicon glyphicon-th-list"></span> Zrušit řazení </a>
    {% else %}
        <a href="{{ path('wishlist_sort',{'id':wishlist.id}) }}" class="btn btn-info btn-block" role="button" style="background-color: #39ACCD;"><span class="glyphicon glyphicon-th-list"></span> Seřadit podle regálů </a>
    {% endif %}
    <a href="{{ path('wishlist_export',{'id':wishlist.id}) }}" class="btn btn-info btn-block" role="button" ><span class="glyphicon glyphicon-share"></span> Odeslat na e-mail </a>

    <h4>Majitel seznamu</h4>
    <p>{{ wishlist.owner.username }}</p>
    <h4>Pozvaní do seznamu</h4>
    {% if wishlist.users is empty %}
        <p>Zatím nikdo nebyl pozván nebo pozvánku nepřijal</p>
        {% else %}
    <ul class="list-group">

        {% for user in wishlist.users %}
            <li class="list-group-item clearfix">{{ user.username }} {% if wishlist.owner.id == app.user.id %}<a class="pull-right" href="{{ path('wishlist_remove_user',{'id':wishlist.id, 'u_id':user.id}) }}" style="padding: 0"><span class=" glyphicon glyphicon-remove remove-notification" ></span></a>{% endif %}</li>
        {% endfor %}
    </ul>
            {% endif %}
{% endblock %}