
<div class="table">
    <table id="sort" class="table table-condensed">
<thead>
<tr>
    <th></th>
    <th>název</th>
    <th>množství</th>
    <th>cena</th>
    <th>obrázek/odkaz</th>

    <th></th>
    <th></th>
</tr>
</thead>
        <tbody>



        {% set sum = 0 %}
        {% for field in aisles %}


        {%if entries|aisle("#{ field }")%}
        <tr class="aisleName" id="{{ field }}">
            <td colspan="6" align="left" style="color: #4d9887"><b>{{ field }} </b></td>
        </tr>
        {% for entry in entries|esort if entry.item.aisle=="#{ field }" %}
            {% set sum = sum+entry.price %}
            {{ include('Wishlist/entriesrows.html.twig',{'entry':entry}) }}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% for field in aisles %}

        {%if not entries|aisle("#{ field }")%}
            <tr class="aisleName hidden-xs emptyAisle" id="{{ field }}">
                <td colspan="6" align="left" style="color: #4d9887"><b>{{ field }} </b></td>
            </tr>

        {% endif %}
        {% endfor %}

        <tr>

            <td colspan="6" align="right"><b>Celková cena: </b>{{ sum }}</td>
        </tr>
        </tbody>

    </table>

</div>
<p class="hidden-xs" style="color:gray; font-size:110%">pomocí <span class=" handle glyphicon glyphicon-resize-vertical"></span> můžete změnit regál u položek, které jsme neměli v naší databázi</p>
