{% set foo ="transferEntries(#{id})" %}
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}

                    {{ form_start(form) }}
                    {{ form_row(form.wishlists,{'attr':{'onchange':"#{ foo }"}}) }}
                    {{ form_row(form.entries) }}
                    {{ form_row(form.Přidat) }}

                    {{ form_end(form) }}