{% extends 'base.html.twig' %}
{% block content %}
    <h3>Mé seznamy</h3>
    <div class="Mé seznamy">

        <div class="col-xs-12 col-sm-4">
            <a href="#" class="btn btn-info" role="button" data-toggle="modal" data-target="#wishlistModal"><span class="glyphicon glyphicon-plus"></span> Nový seznam</a>

            <ul class="list-group">
                {% for wishlist in app.user.wishlists  %}
                    <li class="list-group-item" onclick="location.href='{{ path('wishlist',{'id':wishlist.id}) }}';"  style="cursor: pointer;"><a href="{{ path('wishlist',{'id':wishlist.id}) }}">{{ wishlist.name }}</a> <a href="{{ path('wishlist_delete',{'id':wishlist.id}) }}" onclick="warnMessageWishlist()"><span class="glyphicon glyphicon-remove " style="float: right;"></span></a></li>
                {% endfor %}
                {% if app.user.wishlists is empty %}
                    <p>Zatím nemáte vytvořené žádné seznamy</p>
                {% endif %}
            </ul>
        </div>
        <div class="modal fade" id="wishlistModal" role="dialog" data-backdrop="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nový seznam</h4>
                    </div>
                    <div class="modal-body">
                        {% form_theme form 'bootstrap_3_layout.html.twig' %}

                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block customjs %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('js/wishlists.js') }}"></script>

{% endblock %}