@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}
.navbar {

    margin-bottom: 0;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        background:#ecf0f1;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -40%;
    }

    .row-offcanvas-left.active {
        left: 40%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 40%;
        margin-left: 12px;
    }
}
#sidebar {
    background: #e7e7e7;
    padding:0;
    min-height: 100vh;
    color:white;
}

#sidebar div.sidebar-header h4 {
    padding-left: 20px;
    color: #272728;
}
#sidebar ul.components {
    padding: 20px 0px;
    width: 100%;


}
#sidebar ul li a {
    padding: 10px;
    padding-left: 25px;
    font-size: 1.1em;
    display: block;
    color:#24323E;
}

#sidebar ul li a:hover {
    background: #f8f8f8;
}

#sidebar ul li.active > a {
    color: #0E1113;
    background: #D8D8D8;
}

.nav>li {
    display: inline-block;
}
.navbar-header {
    float: left;
}

.navbar-right {
    float: right;
}