<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-notifications.css') }}" />

            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/typeahead.css') }}" />
            <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">

                {% if app.user %}<span id='sidebarCollapse' class=" glyphicon glyphicon-menu-hamburger hidden-sm hidden-md hidden-lg" ></span>{% endif %}
                <a class="navbar-brand" href="{{ path('index') }}">{% if app.user %} {% endif %} Sdílené nákupy</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li class="hidden-xs dropdown dropdown-notifications"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Upozornění <span class="badge progress-bar-info notification-count"><span id="ntcountbdg">{{ app.user.notifications|length }}</span></span></a>
                    <div class="dropdown-container dropdown-position-bottomright">

                        <div class="dropdown-toolbar ">

                            <h3 class="dropdown-toolbar-title notifications-title"> Upozornění (<span id="ntcounttit">{{ app.user.notifications|length }}</span>)</h3>
                        </div>
                        <!-- /dropdown-toolbar -->

                        <ul class="dropdown-menu">
                            <ul class="notifications">

                                <div class="notifications">
                                    {% for n in app.user.notifications | reverse %}

                                        <li class="notification" id="not_{{ n.id }}">
                                            <div class="media">

                                                <div class="media-body">
                                                    <span class="glyphicon glyphicon-remove remove-notification" onclick="removeNotification({{ n.id }},'dropdown')" style="float: right;"></span>
                                                    {% if n.type=="FRIEND_R" %}
                                                        <p class="notification-title"><b>{{n.sourceUserName  }}</b> vás požádal o přátelství <a href="#" onclick="acceptFriend({{ n.id }},'dropdown')" >Přijmout</a> <a href="#" onclick="dennyFriend({{ n.id }},'dropdown')">Odmítnout</a></p>
                                                    {% elseif n.type=="FRIEND_A" %}
                                                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> přijmul vaši žádost o přátelství</p>
                                                    {% elseif n.type=="FRIEND_D" %}
                                                        <p class="notification-title"><b>{{ n.sourceUserName }}</b> odmítnul vaši žádost o přátelství </p>
                                                    {% elseif n.type=="WISHLIST_R" %}
                                                        <p class="notification-title"><b>{{n.sourceUserName  }}</b> vás pozval do nového nákupního seznamu <b>{{ n.wishlist.name }}</b> <a href="#" onclick="acceptWishlist({{ n.id }},'dropdown')">Přijmout</a> <a href="#" onclick="dennyWishlist({{ n.id }},'dropdown')">Odmítnout</a></p>
                                                    {% elseif n.type=="WISHLIST_A" %}
                                                        <p class="notification-title"><b>{{ n.sourceUserName }}</b> přijmul vaše pozvání do nákupního seznamu <b>{{ n.wishlist.name }}</b></p>
                                                    {% elseif n.type=="WISHLIST_D" %}
                                                        <p class="notification-title"><b>{{n.sourceUserName  }}</b> odmítnul vaše pozvání do nákupního seznamu <b>{{ n.wishlist.name }}</b></p>
                                                    {% elseif n.type=="IWISHLIST_D" %}
                                                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> vás odstranil z nákupního seznamu <b>{{ n.wishlistName }}</b></p>
                                                    {% elseif n.type=="IWISHLIST_UD" %}
                                                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> opustil váš nákupní seznam <b>{{ n.wishlist.name }}</b></p>
                                                    {% elseif n.type=="UFRIEND_R" %}
                                                        <p class="notification-title"><b>{{ n.sourceUserName  }}</b> si vás odstranil z přátel</p>
                                                    {% endif %}
                                                    <div class="notification-meta">
                                                        <small class="timestamp">{{ n.created|date("d. m. Y, H:i") }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                </div>
                            </ul>
                        </ul>

                        <div class="dropdown-footer text-center">
                            <a href="{{ path('all_notifications') }}">Zobrazit vše</a>
                        </div>
                        <!-- /dropdown-footer -->

                    </div>
                    <!-- /dropdown-container -->
                </li>
                <li><a href="{{ path('logout') }}" class="hidden-xs">Odhlášení <span class="glyphicon glyphicon-log-out"></span></a></li>
                <li><a href="{{ path('all_notifications') }}" class="hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-bell"></span> <span class="badge progress-bar-info">{{ app.user.notifications|length }}</span></a></li>
                <li><a href="{{ path('logout') }}" class="hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-log-out"></span></a></li>
                {% else %}
                    <li><a href="{{ path('signup') }}">Registrace <span class="glyphicon glyphicon-user"></span></a></li>
                    <li><a href="{{ path('login') }}">Přihlášení <span class="glyphicon glyphicon-log-in"></span></a></li>

                {% endif %}

            </ul>
        </div>

    </nav>
    {% set route = app.request.get('_route') %}
    <div id="pageContent">
    {% block pageContent %}

    <div class="container-fluid wrapper">

            {% if app.user %}

                <div class="col-xs-6 col-sm-2" id="sidebar" role="navigation">
                    <div id="sidebarContent">
                <div class="sidebar-header">
                    <h4>{{ app.user.username }} <a href="{{ path('edit_user')}}"><span class="glyphicon glyphicon-cog" style="float: right; padding-right: 15px;"></span></a> </h4>
                </div>
                <ul class="list-unstyled components">
                    <li class="{% if route == 'wishlists' or route=='wishlist' and wishlist.owner==app.user %}
                    active{% endif %}"><a href="{{ path('wishlists')}}">Mé seznamy</a></li>
                    <li class="{% if route == 'wishlists_invited' or route=='wishlist' and wishlist.owner!=app.user%}active{% endif %}"><a href="{{ path('wishlists_invited')}}">Seznamy sdílené se mnou</a></li>
                    <li class="{% if route == 'friends'  %}active{% endif %}" ><a href="{{ path('friends')}}">Přátelé</a></li>
                    <div id="sidebar-bottom">{% block sidebarContent %}{% endblock %}</div>
                </ul>
                <!--/.well -->
                    </div>
            </div>
            <!--/span-->
            {% endif %}

        <div class="col-xs-12 col-sm-10" id='content'>

                {% for message in app.flashes('notice') %}
                    <div class="flash-notice alert alert-success">
                        <strong>Výborně!</strong>  {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="flash-notice alert alert-danger">
                        <strong>Ale ne!</strong>  {{ message }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}


                <!--/row-->
            </div>
            <!--/span-->

        <!--/row-->




    </div>
    {% endblock %}
    </div>
    {% block modals %}{% endblock %}

    <!--/.container-->
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('js/sidebar2.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="{{ asset('js/typeahead.js') }}"></script>
            <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

            <script language="JavaScript" type="text/javascript" src="{{ asset('js/notifications.js') }}"></script>
            <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        {% endblock %}
    {% block customjs %}
    {% endblock %}

    </body>
</html>
