{% extends 'base.html.twig' %}
{% block pageContent %}

    <div class="row">
        <div class="col-xs-12 text-center ">
            <h1>Vítejte v aplikaci Sdílené nákupy</h1>

            <p>Tato aplikace slouží k vytváření a sdílení seznamů s vaší rodinou, přáteli nebo třeba spolubydlícími</p>
            <p>Pro používání aplikace se prosím <a href="{{ path('login') }}">přihlašte</a>, nebo <a href="{{ path('signup') }}">zaregistrujte</a></p>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 hidden-xs col-sm-offset-2">
            <h2>Přihlášení</h2>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}

            {{ form_start(form) }}
            {{ form_row(form._username) }}
            {{ form_row(form._password) }}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {{ form_end(form) }}


        </div>
        <div class="col-sm-4 hidden-xs">
            <h2>Registrace</h2>
            {% form_theme form_signup 'bootstrap_3_layout.html.twig' %}
            {{ form(form_signup) }}

    </div>
    </div>

{% endblock %}
{% block customjs %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('js/user.js') }}"></script>

{% endblock %}
