{% extends 'base.html.twig' %}
{% block content %}
        <div class="row">
        <div class="col-xs-12 col-sm-5">

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    {# iterate over each existing tag and render its only field: name #}

    {{ form_end(form) }}
        </div>
                    <div class="col-xs-12 col-sm-5">

    <ul class="list-group">
        <h3>Přátelé</h3>
        {% for friend in app.user.friends  %}
            <li class="list-group-item">{{  friend.username }} <a href="{{ path('remove_friend',{'id':friend.id}) }}" onclick="warnMessage()"><span class="glyphicon glyphicon-remove remove-notification" style="float: right;"></span></a></li>
        {% endfor %}
        {% if app.user.friends is empty %}
            <p>Zatím nemáte žádné uživatele v přátelích</p>
        {% endif %}

    </ul>
    </div>
    </div>
{% endblock %}


{% block customjs %}
    <script language="JavaScript" type="text/javascript" src="{{ asset('js/friends.js') }}"></script>

{% endblock %}