{% extends 'base.html.twig' %}
{% block content %}
    <h3>Registrace</h3>
    <div class="row">
    <div class="col-xs-12 col-sm-4">
    {% form_theme form_user 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form_user) }}
        {{ form_errors(form_user) }}

        {{ form_widget(form_user) }}
    {# iterate over each existing tag and render its only field: name #}

    {{ form_end(form_user) }}
    </div>
    </div>
{% endblock %}