{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}


            {{ form_start(form) }}
            {{ form_row(form.mail) }}

            {{ form_row(form.Submit) }}

            {{ form_end(form) }}
                <label>
                    E-mailové notifikace
                    <input id="notifications-toggle" {% if app.user.emailnotifications %}
                        checked
                            {% endif %} type="checkbox" data-toggle="toggle" data-on="Zapnuté" data-off="Vypnuté">

                </label>
            <a href="{{ path('delete_user') }}" class="btn btn-warning btn-block" role="button" onclick="warnMessageDelete()"> Smazat profil</a>

</div>
    </div>


{% endblock %}
  {% block customjs %}
      <script language="JavaScript" type="text/javascript" src="{{ asset('js/user.js') }}"></script>

  {% endblock %}