<h3>Děkujeme za registraci</h3>

<p>Vaše registrace na aplikaci Sdílené seznamy proběhla úspěšně.</p>

<p>Pokud máte pocit, že nastal omyl, můžete Váš profil smazat kliknutím na následující odkaz:</p>
<a href="{{ link }}">{{ link }}</a>


<p>Děkujeme za registraci.</p>

