<table>

    <tbody>

    <tr>
        <th></th>
        <th>název</th>
        <th>množství</th>
        <th>cena</th>
    </tr>
    {% set sum = 0 %}
    {% for field in aisles %}
    {%if wishlist.entries|aisle("#{ field }")%}
    <tr>
        <td colspan="6" align="left" style="color: #4d9887"><b>{{ field }} </b></td>
    </tr>
    {% for entry in wishlist.entries if entry.item.aisle=="#{ field }" %}
        {% set sum = sum+entry.price %}

            <tr>
                <td>[ ]</td>
                <td>{{ entry.item.name }}</td>
                <td align="center">{% if entry.amount %}  {{ entry.amount }} {% endif %}</td>
                <td align="center">{% if entry.price %}  {{ entry.price }} {% endif %}</td>
            </tr>

    {% endfor %}
    {% endif %}
    {% endfor %}
    <tr>

        <td colspan="6" align="right"><b>Celková cena: </b>{{ sum }}</td>
    </tr>
    </tbody>

</table>