<table>

    <tbody>

    <tr>
        <th></th>
        <th>název</th>
        <th>množství</th>
        <th>cena</th>
    </tr>
    {% set sum = 0 %}

    {% for entry in wishlist.entries %}
        {% set sum = sum+entry.price %}

            <tr>
                <td>[ ]</td>
                <td>{{ entry.item.name }}</td>
                <td align="center">{% if entry.amount %}  {{ entry.amount }} {% endif %}</td>
                <td align="center">{% if entry.price %}  {{ entry.price }} {% endif %}</td>
            </tr>

    {% endfor %}
    <tr>

        <td colspan="6" align="right"><b>Celková cena: </b>{{ sum }}</td>
    </tr>
    </tbody>

</table>