<h3>Dobrý den {{ friend.username }}</h3>

<p>Uživatel <b>{{ app.user.username }}</b> Vás pozval v aplikaci Sdílené seznamy do svého seznamu {{ wishlist.name }} !</p>

<p>Zasílání upozornění e-mailem můžete vypnout v nastavení Vašeho profilu</p>
<p>Pokud máte pocit, že nastal omyl, můžete Váš profil smazat kliknutím na následující odkaz:</p>
<a href="{{ link }}">{{ link }}</a>
